body {
	background-color: black;
	color: red;
}

p {
	text-align: center;
}
ul {
	text-align: center;
}
ul {

list-style-type: none;

}
a:hover{
	color: blue;
}

a:visited{
	color: blue;
}

a:active{
	color: blue;
}
header {
	text-align: center;
}
img  {
  float: center;
}
footer {
	text-align: left;